.wrapper {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    &:last-child {
        border-bottom: none;
    }
}

.update-time {
    font-stretch: expanded;
}

@media (max-width: 576px) {
    .update-time {
        display: none;
    }
}
