.wrapper {
    color: var(--black);
    overflow: auto;
    padding: 0 20px;
}

.list-item, .title {
    height: 30px;
}

.title {
    display: block;
    color: inherit;
}

.list-item {
    display: block;
    text-decoration: none;
    color: inherit;
}