.wrapper {
    max-width: 1036px;
    width: 100%;
    user-select: text;
    -webkit-user-select: text;
}

.header {
    padding: 20px;
}

.title, .chapter, .status {
    display: block;
    text-align: center;
    font-weight: 900;
}

.title {
    font-size: 2rem;
}

.chapter {
    font-size: 1.8rem;
}

.status {
    font-size: 1.7rem;
}

.content {
    width: 100%;
    padding: 0 10px;
}

.image {
    width: 100%;
    object-fit: cover;
    +.image {
        margin-top: 10px;
    }
}

.comment {
    border-radius: 5px;
    padding: 0 10px;
    margin: 20px 0;
    background-color: var(--background-color);
    header {
        padding: 20px;
        font-size: 1.8rem;
        font-weight: 600;
    }
}

.container {
    background-color: var(--white);
}

.side-nav {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 2rem;
    position: fixed;
    right: 10px;
    bottom: 50px;
    border-radius: 2px;
    border: var(--black) solid 1px;
}

.modal-chapter-list {
    user-select: none;
    -webkit-user-select: none;
}

.modal-container {
    overflow: auto;
}
.modal-title {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.none {
    display: none;
}

@media (max-width: 1199.99px) {
    .wrapper {
        max-width: 800px;
    }
}

@media (max-width: 991.99px) {
    .wrapper {
        max-width: 630px;
    }

    .side-nav {
        flex-direction: row;
        bottom: 0;
        right: 0;
        width: 100%;
        background-color: var(--white);
        border-radius: 0;
        border: none;
    }

    .side-nav-item {
        flex: 1;
        border-bottom: 0;
        border-top: var(--white) solid 1px;
        height: 50px;
    }
}

@media (max-width: 649.99px) {
    .wrapper {
        width: 100%;
    }
}