.toggle {
    width: 100%;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding-top: 2px;
}

.content {
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}